.cusitom{
   display: flex;
   justify-content: center;
   align-items: center;
}
.justifu-content-center{
    justify-content: center !important;
}
.cusitom {
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}